{% extends 'baselayout.html' %}
{% load static %}

{% block body %}
<div class="banner">
    <h1>E-voting Application</h1>
  </div>

  <div class="content">
      <div class="container">
          <div class="box">
    <div class="terms">
      <h2>Terms of Agreement</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet lectus ut lectus rhoncus scelerisque. Duis sodales lacus nec libero ultrices dictum.</p>
        <a href="{% url 'votingapp:otp' %}"><button class="start-vote-button">Start Vote</button></a>
    </div>
  </div>
      </div>
  </div>
{% endblock body %}