{% extends 'baselayout.html' %}
{% load static %}
{% block links %}
<link href="{% static 'css/otp.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/otp.min.js' %}"></script>
<script src="{% static 'js/fundamental.js' %}"></script>
{% endblock links %}
{% block title %}
OTP VERIFICATION
{% endblock title %}
{% block body %}
<div class="container">
    <h1 class="banner">OTP</h1>
    {% csrf_token %}
    <input id="otp" type="text" class="otp-input" placeholder="Enter OTP">
  </div>
{% endblock body %}