{% extends 'baselayout.html' %}

{% load static %}
{% block links %}
<link href="{% static 'css/vote.css' %}" rel="stylesheet" type="text/css">
<script src="{% static 'js/vote.min.js' %}"></script>
<script src="{% static 'js/fundamental.js' %}"></script>
{% endblock links %}
{% block title %}Vote{% endblock title %}

{% block body %}
<header><div class="banner">
    <h1>E-voting In Progress</h1>
</div></header>
<div>
  <div class="pos-banner">
    <h1>President</h1>
</div>
<div class="main-content1">
  {% if presidents %}
  {% for pres in presidents %}
<div class="vote-option voting-div">
    <img class="voting-image" src="{{pres.photo}}" alt="Image 1">
  <h3 class="name">{{pres.name}}</h3>
    <button   class="voting-button">Vote</button>
  </div>
  {% endfor %}
  {% else %}
  <div>
  <div class="pos-banner">
    <h1>No president in database</h1>
</div>
  {% endif %}

</div>
</div>
<div>
  <div class="pos-banner">
    <h1>Vice President</h1>
</div>
<div class="main-content2">
  {% if vices %}
  {% for vice in vices %}
<div class=" voting-div v2">
    <img class="voting-image" src="{{vice.photo}}" alt="Image ">
  <h3 class="name">{{vice.name}}</h3>
    <button   class=" vb2">Vote</button>
  </div>
  {% endfor %}
  {% else %}
  <div>
  <div class="pos-banner">
    <h1>No president in database</h1>
</div>
  {% endif %}
</div>

</div>
</div>
  <form id="vote-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Form fields here -->

    <button id="submit-button" class="submit-button">Submit</button>
  </form>
</div>
{% endblock body %}