body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom, #4B6CB7, #944BD4);

    }
.main-content1, .main-content2 {
  margin-bottom: 40px;
}

.main-content1{
     display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-content2{
     display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.voting-div {
      width: 25%; /* Adjust the width as per your requirement */
      padding: 10px;
      box-sizing: border-box;
    }

    .voting-image {
      width: 100%;
      height: auto;
    }

 .banner {
      background-color: #fff;
      padding: 1rem;
      text-align: center;
    }
.pos-banner{
    padding: 1rem;
    text-align: center;
}
    .banner h1 {
      font-size: 2rem;
      color: #4B6CB7;
    }


 .voting-button, .vb2 {
      background: linear-gradient(to bottom, #6495ED, #9370DB); /* Blue to Purple gradient button background */
      color: #fff; /* Text color */
      padding: 10px 20px; /* Button padding */
      border: none; /* Remove button border */
      border-radius: 50px; /* Round button shape */
      font-size: 18px; /* Font size */
      font-weight: bold; /* Font weight */
      cursor: pointer; /* Cursor style */
      animation: bounce 1.5s infinite; /* Animation effect */
    }
.voted{
    background: linear-gradient(to bottom, #7FFF00, #006400);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
    @keyframes bounce {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-5px); }
    }

    @keyframes thanosSnap {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Add the following CSS rules to style the submit button */
.submit-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background: linear-gradient(to right, #FFC107, #FF5722);
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background: linear-gradient(to right, #FFA000, #F44336);
  transform: scale(1.05);
}

.submit-button:focus {
  outline: none;
}

.submit-button:active {
  transform: scale(0.95);
}
